<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <strong>FinanceApp</strong>
    </a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav d-flex">
        <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ng-container>
        <ng-template #loggedInTemplate>
          <li class="nav-item vertical-middle-align">
            <div class="navbar-text text-light me-3">Hello, {{ username }}</div>
          </li>
          <li class="nav-item vertical-middle-align d-flex">
            <div class="vertical-middle-align"><button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button></div>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
